# Aula 1. Estruturas de dados fundamentais - Exercícios

### Exercício 1. Representando vetores

Podemos representar vetores em *Python* usando uma estrutura nativa da linguagem, apesar de esta não ser a forma mais eficiente em aplicações reais.
Represente os vetores $v_1$ e $v_2$ abaixo usando esta estrutura, armazenando o resultado nas variáveis `v1` e `v2`

$$ v_1 = 
\begin{bmatrix}1 & 3 & 5 & 7\end{bmatrix}
$$

$$ v_2 = 
\begin{bmatrix}10 & 9 & 8 & 0\end{bmatrix}
$$

In [46]:
v1 = [1,3,5,7]
v2 = [10, 12, -3, 0]

Crie agora os vetores `v3` e `v4`, resultante da multiplicação de `v1` por 2 e `v2` por 4, respectivamente

In [47]:
v3 = [ i*2 for i in v1 ]
v3

[2, 6, 10, 14]

In [48]:
v4 = [i*4 for i in v2 ]
v4

[40, 48, -12, 0]

Some os vetores `v3`e `v4` usando uma compreensão de listas.

**Dica.** Use a função `zip` para emparelhar elementos na mesma posição e depois `sum` para somá-los

In [49]:
[ sum(i) for i in list(zip(v3,v4)) ]

[42, 54, -2, 14]

Multiplique os vetores `v1` e `v2` usando uma compreensão de listas

In [57]:
[ i[0]*i[1] for i in list(zip(v1,v2)) ]

[10, 36, -15, 0]

---

### Exercício 2. Representando matrizes

A representação de matrizes segue o mesmo princípio que você usou para representar vetores, com a diferença de que agora temos que armazenar linhas e colunas na mesma estrutura. Represente as matrizes $m_1$ e $m_2$ abaixo, armazenando os resultados nas variáveis `m1` e `m2`

$$
m_1 =
\begin{bmatrix}
1 & 2 & 3 \\
4 & 5 & 6 \\
7 & 8 & 9
\end{bmatrix}
$$

$$
m_2 =
\begin{bmatrix}
9 & 7 & 5 \\
5 & 3 & 1 \\
3 & 1 & -3
\end{bmatrix}
$$

In [59]:
m1 = [ [1,2,3],[4,5,6],[7,8,9] ]
m2 = [ [9,7,5], [5,3,1], [3,1,-3] ]

Construa um vetor `v1` com três elementos, que armazena a soma de cada uma das linhas da matriz `m1`

In [66]:
v1 = [ sum(linha) for linha in m1 ]
v1

[6, 15, 24]

Faça o mesmo para `m2` e armazene o resultado no vetor `v2`

In [67]:
v2 = [ sum(linha) for linha in m2 ]
v2

[21, 9, 1]

Associe à variável `soma_elementos_m1` a soma de todos os elementos da matriz `m1` (deve ser um escalar!)

In [69]:
soma_elementos_m1 = sum([ sum(linha) for linha in m1 ])
soma_elementos_m1

45

Faça o mesmo para `m2` e aramazene o resultado na variável `soma_elementos_m2`

In [70]:
soma_elementos_m2 = sum([ sum(linha) for linha in m2 ])
soma_elementos_m2

31

### Exercício 3. Criando matrizes e vetores com sequências

Podemos usar uma sequência `range` para criar vetores e matrizes.
Vamos começar criando um vetor `v1` com os números inteiros de 0 a 50, com passo de 5 (números de 5 em 5)

In [82]:
v1 = [ i for i in range(0,51,5)]
v1

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Vamos agora criar uma matriz `m1` de dimensão 11x5, com números inteiros de 0 a 54

**Dica.** Você pode usar o vetor `v1` como ponto de partida

In [93]:
m1 = [ list(range(i,i+5)) for i in v1 ]
m1

[[0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34],
 [35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44],
 [45, 46, 47, 48, 49],
 [50, 51, 52, 53, 54]]

Crie agora, em uma única linha, uma matriz `m2` de dimensão 5x10, contendo números inteiros de 1 a 50 (dessa vez sem usar `v1` como intermediário)

In [92]:
m2 = [ list(range(i,i+5)) for i in range(1,51,5) ]
m2

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25],
 [26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35],
 [36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45],
 [46, 47, 48, 49, 50]]

---

### Exercício 4. Mapeando caracteres com valores ASCII

Na tabela ASCII, os caracteres de `'a'` a `'z'` (caixa baixo) são representados por valores inteiros começando por `097` e incrementando de 1 em 1.
Construa um dicionário `d` mapeando cada caractere (de `'a'` a `'z'`) ao seu respectivo valor ASCII. Utilize o método de compreensão de dicionários

In [28]:
l1='abcdefghijklmnopqrstuvwxyz'
l2=list(range(97,len(l1)+97))

In [29]:
d = { c:i for c,i in zip(l1,l2)}
d

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

Usando o dicionário que você acabou de criar, responda:

* Qual o valor ASCII do caractere `'r'`?

In [30]:
d['r']

114

* Quantos caracteres existem entre `'a'` e `'d'`?

In [51]:
abs(d['a'] - d['d']) - 1

2

Outro aspecto interessante da tabela ASCII é que para obter os caracteres alfabéticos em caixa alto basta subtrair 32 do caractere em caixa baixo. Por exemplo, enquanto o caractere `'a'` tem valor 97, o caractere `'A'` tem valor 65.
Atualize o dicionário criado acima para incorporar os caracteres em caixa alto também.

In [31]:
d.update({ c.upper():i-32 for c,i in d.items() })
d

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122,
 'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

Por fim, inverta o dicionário `d`. Agora, cada valor numérico deve mapear para seu caractere correspondente

In [55]:
{ i:c for c,i in d.items() }

{97: 'a',
 98: 'b',
 99: 'c',
 100: 'd',
 101: 'e',
 102: 'f',
 103: 'g',
 104: 'h',
 105: 'i',
 106: 'j',
 107: 'k',
 108: 'l',
 109: 'm',
 110: 'n',
 111: 'o',
 112: 'p',
 113: 'q',
 114: 'r',
 115: 's',
 116: 't',
 117: 'u',
 118: 'v',
 119: 'w',
 120: 'x',
 121: 'y',
 122: 'z',
 65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

### Exercício 5. Construindo tabelas a partir de listas

Neste exercício usaremos os dados armazenados nas variáveis `l1` a `l4` abaixo para construir uma estrutura que poderia representar uma tabela. As listas `l1` e `l4` contêm os nomes e siglas dos estados brasileiros, respectivamente. A lista `l3` contém as capitais dos estados, e a lista `l2` o tamanho da população de cada um deles

In [17]:
l1 = ['São Paulo','Minas Gerais','Rio de Janeiro','Bahia','Paraná', 
      'Rio Grande do Sul', 'Pernambuco','Ceará' ,'Pará', 'Santa Catarina', 
      'Maranhão','Goiás','Amazonas','Paraíba','Espírito Santo',
      'Rio Grande do Norte','Mato Grosso','Alagoas','Piauí','Distrito Federal',
      'Mato Grosso do Sul','Sergipe','Rondônia','Tocantins','Acre',
      'Amapá','Roraima']

l2 = [45538936, 21040662, 17159960, 14812617,11348937,
      11329605, 9496294, 9075649, 8513497, 7075494,
      7035055, 6921161, 4080611, 3996496, 3972388,
      3479010, 3441998, 3322820, 3264531, 2974703,
      2748023, 2278308, 1757589, 1555229, 869265,
      829494, 576568]

l3 = ['São Paulo','Belo Horizonte','Rio de Janeiro','Salvador','Curitiba',
      'Porto Alegre','Recife','Fortaleza','Belém','Florianópolis',
      'São Luís','Goiânia','Manaus','João Pessoa','Vitória',
      'Natal','Cuiabá','Maceió','Teresina','Brasília',
      'Campo Grande','Aracaju','Porto Velho','Palmas','Rio Branco',
      'Macapá','Boa Vista']

l4 = ['SP','MG','RJ','BA','PR',
      'RS','PE','CE','PA','SC',
      'MA','GO','AM','PB','ES',
      'RN','MT','AL','PI','DF',
      'MS','SE','RO','TO','AC',
      'AP','RR']

colunas_nomes = ['estado_sigla', 'estado_nome','estado_capital','estado_pop']

Uma das formas é **emparelhar** as listas, de forma que os dados sejam alinhados conforme a ordem em que aparecem. Armazene o resultado das listas emparelhadas numa variável de nome `data_l`. Adicione também um índice inteiro para cada item (linha), que será seu identificador único (chave primária); e o cabeçalho com os nomes das colunas

In [18]:
data_l = list(zip(list(range(len(l4))),l4,l1,l3,l2))
data_l = [ tuple(['id'] + colunas_nomes) ] + data_l

In [19]:
data_l

[('id', 'estado_sigla', 'estado_nome', 'estado_capital', 'estado_pop'),
 (0, 'SP', 'São Paulo', 'São Paulo', 45538936),
 (1, 'MG', 'Minas Gerais', 'Belo Horizonte', 21040662),
 (2, 'RJ', 'Rio de Janeiro', 'Rio de Janeiro', 17159960),
 (3, 'BA', 'Bahia', 'Salvador', 14812617),
 (4, 'PR', 'Paraná', 'Curitiba', 11348937),
 (5, 'RS', 'Rio Grande do Sul', 'Porto Alegre', 11329605),
 (6, 'PE', 'Pernambuco', 'Recife', 9496294),
 (7, 'CE', 'Ceará', 'Fortaleza', 9075649),
 (8, 'PA', 'Pará', 'Belém', 8513497),
 (9, 'SC', 'Santa Catarina', 'Florianópolis', 7075494),
 (10, 'MA', 'Maranhão', 'São Luís', 7035055),
 (11, 'GO', 'Goiás', 'Goiânia', 6921161),
 (12, 'AM', 'Amazonas', 'Manaus', 4080611),
 (13, 'PB', 'Paraíba', 'João Pessoa', 3996496),
 (14, 'ES', 'Espírito Santo', 'Vitória', 3972388),
 (15, 'RN', 'Rio Grande do Norte', 'Natal', 3479010),
 (16, 'MT', 'Mato Grosso', 'Cuiabá', 3441998),
 (17, 'AL', 'Alagoas', 'Maceió', 3322820),
 (18, 'PI', 'Piauí', 'Teresina', 3264531),
 (19, 'DF', 'Distrito Federal', 'Brasília', 2974703),
 (20, 'MS', 'Mato Grosso do Sul', 'Campo Grande', 2748023),
 (21, 'SE', 'Sergipe', 'Aracaju', 2278308),
 (22, 'RO', 'Rondônia', 'Porto Velho', 1757589),
 (23, 'TO', 'Tocantins', 'Palmas', 1555229),
 (24, 'AC', 'Acre', 'Rio Branco', 869265),
 (25, 'AP', 'Amapá', 'Macapá', 829494),
 (26, 'RR', 'Roraima', 'Boa Vista', 576568)]

Podemos também estruturar esta tabela como um dicionário. Armazene os dados desta vez em um dicionário, chaveado pelos nomes das colunas. Atribua o resultado à variável `data_d`

In [20]:
data_d = { 
  'id': list(range(len(l4))),
  'estado_sigla': l4,
  'estado_nome': l1,
  'estado_capital': l3,
  'pop': l2
 }
data_d

{'id': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26],
 'estado_sigla': ['SP',
  'MG',
  'RJ',
  'BA',
  'PR',
  'RS',
  'PE',
  'CE',
  'PA',
  'SC',
  'MA',
  'GO',
  'AM',
  'PB',
  'ES',
  'RN',
  'MT',
  'AL',
  'PI',
  'DF',
  'MS',
  'SE',
  'RO',
  'TO',
  'AC',
  'AP',
  'RR'],
 'estado_nome': ['São Paulo',
  'Minas Gerais',
  'Rio de Janeiro',
  'Bahia',
  'Paraná',
  'Rio Grande do Sul',
  'Pernambuco',
  'Ceará',
  'Pará',
  'Santa Catarina',
  'Maranhão',
  'Goiás',
  'Amazonas',
  'Paraíba',
  'Espírito Santo',
  'Rio Grande do Norte',
  'Mato Grosso',
  'Alagoas',
  'Piauí',
  'Distrito Federal',
  'Mato Grosso do Sul',
  'Sergipe',
  'Rondônia',
  'Tocantins',
  'Acre',
  'Amapá',
  'Roraima'],
 'estado_capital': ['São Paulo',
  'Belo Horizonte',
  'Rio de Janeiro',
  'Salvador',
  'Curitiba',
  'Porto Alegre',
  'Recife',
  'Fortaleza',
  'Belém',
  'Florianópolis',
  'São Luís',
  'Goiânia',
  'Manaus',
  'João Pessoa',
  'Vitória',
  'Natal',
  'Cuiabá',
  'Maceió',
  'Teresina',
  'Brasília',
  'Campo Grande',
  'Aracaju',
  'Porto Velho',
  'Palmas',
  'Rio Branco',
  'Macapá',
  'Boa Vista'],
 'pop': [45538936,
  21040662,
  17159960,
  14812617,
  11348937,
  11329605,
  9496294,
  9075649,
  8513497,
  7075494,
  7035055,
  6921161,
  4080611,
  3996496,
  3972388,
  3479010,
  3441998,
  3322820,
  3264531,
  2974703,
  2748023,
  2278308,
  1757589,
  1555229,
  869265,
  829494,
  576568]}

Agora tente fazer as seguintes consultas. Em cada consulta, pense em qual das duas estruturas contendo os dados (lista ou dicionário) é mais adequada para recuperar a informação

* Liste os nomes de todos os estados brasileiros

In [21]:
data_d['estado_nome']

['São Paulo',
 'Minas Gerais',
 'Rio de Janeiro',
 'Bahia',
 'Paraná',
 'Rio Grande do Sul',
 'Pernambuco',
 'Ceará',
 'Pará',
 'Santa Catarina',
 'Maranhão',
 'Goiás',
 'Amazonas',
 'Paraíba',
 'Espírito Santo',
 'Rio Grande do Norte',
 'Mato Grosso',
 'Alagoas',
 'Piauí',
 'Distrito Federal',
 'Mato Grosso do Sul',
 'Sergipe',
 'Rondônia',
 'Tocantins',
 'Acre',
 'Amapá',
 'Roraima']

* Qual o tamanho populacional do estado mais populoso?

In [22]:
max(data_d['pop'])

45538936

* Qual o tamanho populacional do estado menos populoso?

In [23]:
min(data_d['pop'])

576568

* Qual o nome do estado com `id` 13?

In [24]:
data_d['estado_nome'][13]

'Paraíba'

* Qual o nome do estado mais populoso, sua sigla, sua capital e seu tamanho populacional? (tente resolver usando o dicionário `data_d`)

In [25]:
idx = data_d['pop'].index(max(data_d['pop']))
f"{data_d['estado_nome'][idx]} ({data_d['estado_sigla'][idx]}) é o estado mais populoso, \
com {data_d['pop'][idx]/1e6:.3} milhões de habitantes. Sua capital é {data_d['estado_capital'][idx]}"

'São Paulo (SP) é o estado mais populoso, com 45.5 milhões de habitantes. Sua capital é São Paulo'

* Qual o nome do estado menos populoso, sua sigla, sua capital e seu tamanho populacional? (tente resolver usando a lista `data_l`)

In [26]:
idx = data_d['pop'].index(min(data_d['pop']))
_,sigla,estado,capital,pop = [ r for r in data_l if r[0]==idx ][0]
f"{estado} ({sigla}) é o estado menos populoso, com {pop/1e3:.4} mil habitantes. Sua capital é {capital}"

'Roraima (RR) é o estado menos populoso, com 576.6 mil habitantes. Sua capital é Boa Vista'

* Quais os 5 estados mais populosos? Recupere toda a linha referente a cada um destes estados

In [27]:
idxs = [ data_d['pop'].index(ix) for ix in list(reversed(sorted(data_d['pop'])))[:5] ]
[ row for row in data_l if row[0] in idxs ]

[(0, 'SP', 'São Paulo', 'São Paulo', 45538936),
 (1, 'MG', 'Minas Gerais', 'Belo Horizonte', 21040662),
 (2, 'RJ', 'Rio de Janeiro', 'Rio de Janeiro', 17159960),
 (3, 'BA', 'Bahia', 'Salvador', 14812617),
 (4, 'PR', 'Paraná', 'Curitiba', 11348937)]

* Quais os 5 estados menos populosos? Recupere somente o nome de cada um deles

In [28]:
idxs = [ data_d['pop'].index(i) for i in sorted(data_d['pop'])[:5] ]
[ data_d['estado_nome'][ix] for ix in idxs]

['Roraima', 'Amapá', 'Acre', 'Tocantins', 'Rondônia']

### Exercício 6. Representando grafos

Use alguma das esturutras de dados apresentadas na aula 1 para representar o grafo a seguir:

<img width=200 src="img/graph.png">

Perceba que o grafo possui arestas pesadas, informação esta que também deve ser representada na sua estrutura.

**Dica:** Pense em uma estrutura que armazene **adjacência** entre os vértices $A_i$

In [29]:
g = {
'a1': {'a4': 5},
'a2': {'a6':2, 'a5':4, 'a3':5},
'a3': {'a5':1,'a2':5,'a4':3},
'a4': {'a1':5, 'a3':3},
'a5': {'a2':4,'a3':1},
'a6': {'a2':2}
}

* Quais os vizinhos (vértices adjacentes) de $A_3$?

In [30]:
list(g['a3'])

['a5', 'a2', 'a4']

* Qual o grau (número de vizinhos) de $A_5$?

In [31]:
len(g['a5'])

2

* Quais os vizinhos comuns entre $A_4$ e $A_2$?

In [32]:
[ i for i in list(g['a4']) if i in list(g['a2'])]

['a3']

* Qual o peso da aresta entre $A_2$ e $A_5$? (Caso não exista, retornar 0)

In [33]:
g['a2']['a5']

4

* Qual o peso da aresta entre $A_2$ e $A_1$? (Caso não exista, retornar 0)

In [34]:
g['a2'].get('a1',0)

0

* Qual o grau ponderado de $A3$? O grau ponderado é obtido somando-se os pesos de cada uma das arestas incidentes

In [35]:
sum(g['a3'].values())

9